<div>
  <h1><%= t('mailer.no_sensor_value') %></h1>
</div>
<br>
<br>

<div class="temp">
  <p><strong> <%= t('mailer.no_data_temp') %></strong></p>
</div>
<br>

<div class="hum">
  <p><strong> <%= t('mailer.no_data_hum') %></strong></p>
</div>