<iframe width="1000px" height="500px" scrolling="auto" allowtransparency="true"
        webkitallowfullscreen mozallowfullscreen allowfullscreen
        src="http://10.0.0.18:1305/xymon/xymon.html">
  <p>Monitoring Server Stopped!</p>
</iframe>

<!-- <embed src="http://10.0.0.18/xymon/xymon.html" width=1000 height=500 /> -->
<!--   KAMERA
<iframe width="1000px" height="500px" src="http://10.0.0.96/">
  <p>Placeholder text; only shows up if the page DOESN'T render!</p>
</iframe>  -->