<footer class="main-footer">
  <!--
    <div class="pull-right hidden-xs">
        <b>Ver</b> 0.3
    </div>
    <div align="center">
        <strong>Copyright &copy; 2014-2015 <a href="http://www.nasyatek.com">KB</a>.</strong> Open Source Project.
        <h6>by AH, VO</h6>
    </div>
  -->
</footer>

