<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/assets/loginstyle.css">

</head>
<body class="body-login">

<div id="wrapper-login">

  <%= yield %>

</div>
<div class="gradient"></div>


</body>
</html>

